
@{
    ViewData["Title"] = "Admin";
}
<h1>Admin</h1>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-6 m-5">
            <p>Welcome to the Admin page.</p>
            <a asp-action="Messages" asp-controller="Admin" class="btn btn-primary">View Messages</a>
        </div>
        <div class="col-sm-6 m-5">
            <a asp-action="Index" asp-controller="Product" class="btn btn-primary">View and edit product</a>
        </div>
    </div>
</div>