@{
    ViewData["Title"] = "News Page";
}
<h1>News page</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="news1-image.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">News Title 1</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sagittis mauris,
                        sit amet eleifend leo.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="news2-image.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">News Title 2</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sagittis mauris,
                        sit amet eleifend leo.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="news3-image.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">News Title 3</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sagittis mauris,
                        sit amet eleifend leo.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="news4-image.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">News Title 4</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at sagittis mauris,
                        sit amet eleifend leo.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>