@model WebStore.Models.ProductEntity

<h1>@Model.Title</h1>

<div class="collection-item mt-5 pt-5 d-flex justify-content-center align-items-center">
    <img class="product-image" src="@Model.ImageUrl" alt="">
    <div class="body">
        <div class="title">Title: @Model.Title</div>
        <div class="info-product">
            
            <div class="status">Catergory: @Model.Genre</div>
            <br />
            
            <div class="price">Price:@Model.Price.ToString("C")</div>
        </div>
    </div>
    
    
    <!-- Add other product details as needed -->
</div>